<div class="mx-auto max-w-2xl py-6 sm:px-6 lg:px-8">
  <p style="color: green"><%= notice %></p>
  <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Badge</span>

  <%= render @water %>

  <div>
    <%= link_to "Edit this water", edit_water_path(@water) %> |
    <%= link_to "Back to waters", waters_path %>

    <%= button_to "Destroy this water", @water, method: :delete %>
  </div>
</div>