<div id="<%= dom_id plant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= plant.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last watering:</strong>
    <%= plant.last_watering %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Plant type:</strong>
    <%= plant.plant_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this plant", plant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this plant', edit_plant_path(plant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
